/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Makefile
/doc/Makefile.in
/doc/reference/Makefile
/doc/reference/Makefile.in
/doc/reference/version.xml
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/twitter-glib-1.0.pc
/twitter-glib.pc
/twitter-glib/.deps
/twitter-glib/.libs
/twitter-glib/Makefile
/twitter-glib/Makefile.in
/twitter-glib/libtwitter-glib-1.0.la
/twitter-glib/stamp-twitter-enum-types.h
/twitter-glib/stamp-twitter-marshal.h
/twitter-glib/*.lo
/twitter-glib/twitter-enum-types.c
/twitter-glib/twitter-enum-types.h
/twitter-glib/twitter-marshal.c
/twitter-glib/twitter-marshal.h
/twitter-glib/twitter-version.h
*~
.*.swp
.*.swo
