Makefile
Makefile.in
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache/
/build/autotools/gtk-doc.m4
/build/autotools/shave
/build/autotools/shave-libtool
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/reference/.libs
/doc/reference/version.xml
/doc/reference/html
/doc/reference/xml
/doc/reference/tmpl
/doc/reference/*.stamp
/doc/reference/*.bak
/doc/reference/twitter-glib-decl.txt
/doc/reference/twitter-glib-decl-list.txt
/doc/reference/twitter-glib-overrides.txt
/doc/reference/twitter-glib-undeclared.txt
/doc/reference/twitter-glib-undocumented.txt
/doc/reference/twitter-glib-unused.txt
/doc/reference/twitter-glib.args
/doc/reference/twitter-glib.hierarchy
/doc/reference/twitter-glib.interfaces
/doc/reference/twitter-glib.prerequisites
/doc/reference/twitter-glib.signals
/doltcompile
/doltlibtool
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/mkinstalldirs
/missing
/po
/stamp-h1
/tests/.deps
/tests/.libs
/tests/twitter-test
/tests/twitter-test-results.html
/tests/twitter-test-results.xml
/tests/*.o
/twitter-glib-1.0.pc
/twitter-glib.pc
/twitter-glib/.deps
/twitter-glib/.libs
/twitter-glib/Twitter-1.0.*
/twitter-glib/libtwitter-glib-1.0.la
/twitter-glib/stamp-twitter-enum-types.h
/twitter-glib/stamp-twitter-marshal.h
/twitter-glib/*.lo
/twitter-glib/twitter-enum-types.c
/twitter-glib/twitter-enum-types.h
/twitter-glib/twitter-marshal.c
/twitter-glib/twitter-marshal.h
/twitter-glib/twitter-version.h
*~
.*.swp
.*.swo
